.panel-text-r1 {
    font-size: 1.7vw;
    text-align: left;
  }
  .panel-text-r2 {
    font-size: 1.7vw;
    text-align: left;
  }
  .panel-text-r3 {
    font-size: 1.7vw;
    text-align: left;
  }
  .panel-text-r4 {
    font-size: 1.7vw;
    text-align: left;
  }
  .panel-screen {
    height: 10vw;
  }