.panel-text-r1 {
    font-size: 1.4vw;
    text-align: left;
    padding-left: 5px;
  }
  .panel-text-r2 {
    font-size: 1.4vw;
    text-align: left;
    padding-left: 5px;
  }
  .panel-text-r3 {
    font-size: 1.4vw;
    text-align: left;
    padding-left: 5px;
  }
  .panel-text-r4 {
    font-size: 01.4vw;
    text-align: left;
    padding-left: 5px;
  }
  .panel-screen {
    height: 8vw;
  }
  .water-panel-container {
    width: 110%;
  }
  .main-action-div {
    margin-right: 50px;
  }
  